$godwitBlue: #1ba0e2;
$businessSuit: #073e68;
$uiDarkPrimary: #03121a;
$uiDarkSecondary: #687176;
$uiDarkStain: #1c2930;
$uiDarkNeutral: #354148;
$uiLightPrimary: #ffffff;
$uiLightSecondary: #cdd0d1;
$uiLightStain: #f7f9fa;
$uiLightNeutral: #f2f3f3;
$uiBluePrimary: #0194f3;
$uiBlueSecondary: #007ce8;
$uiBlueLight: #ecf8ff;
$uiBlueDark: #0264c8;
$uiGreenPrimary: #0bc175;
$uiGreenSecondary: #05a569;
$uiGreenLight: #e8fef5;
$uiGreenDark: #00875a;
$uiYellowPrimary: #ffdc00;
$uiYellowSecondary: #d99800;
$uiYellowLight: #fffad9;
$uiYellowDark: #b15400;
$uiOrangePrimary: #ff5e1f;
$uiOrangeSecondary: #df440f;
$uiOrangeLight: #fff4ef;
$uiOrangeDark: #bf1d00;
$uiRedPrimary: #f4555a;
$uiRedSecondary: #ec3a3e;
$uiRedLight: #fce3e4;
$uiRedDark: #e7090e;
